.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
  }
  
  .css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }
  .table{
  --bs-table-striped-bg: #0dcaf054 !important;
  }
  .productdiv{
    
    overflow-y: auto;

  }
