.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
  }
  
  .css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }
  .table{
  --bs-table-striped-bg: #0dcaf054 !important;
  }
  .productdiv{
    height: 100vh;
    overflow-y: scroll;

  }
  
/* Hide scrollbar for Chrome, Safari and Opera */
.productdiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.productdiv {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.userdetails img{

  width: 175px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
